
@font-face {
  font-family: 'Alef-Bold';
  src: url('../fonts/alef-bold/Alef-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/alef-bold/Alef-Bold.woff') format('woff'), url('Alef-Bold.ttf')  format('truetype'), url('../fonts/alef-bold/Alef-Bold.svg#Alef-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
