
@font-face {
  font-family: 'Alef-Regular';
  src: url('../fonts/alef/Alef-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/alef/Alef-Regular.woff') format('woff'), url('../fonts/alef/Alef-Regular.ttf')  format('truetype'), url('../fonts/alef/Alef-Regular.svg#Alef-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
