footer {
display: block;
margin-top: 100px;
background-color: #202020;
padding: 30px 0;
color: #fff;
font-family: "Alef-Regular";
  .container {
    .right-side {
    width: 210px;
      .info {
      padding: 3px;
      text-align: left;
      padding: 5px;
      font-size: 16px;
      float:right;
        .textwidget {
        display: inline-block;
        }// textwidget
        a {
        color: #fff;
        direction: rtl;
        font-size: 16px;
        } //a
      } //info
      .email:after {
      content:"\f003";
      font-family: FontAwesome;
      color: #fff;
      margin-left: 5px;
      } //email
      .phone:after {
      content:"\f095";
      font-family: FontAwesome;
      color: #fff;
      margin-left: 5px;
      } //phone
      .location:after {
      content:"\f041";
      font-family: FontAwesome;
      color: #fff;
      margin-left: 5px;
    } //location
  } //right-side
  @media screen and (max-width: 768px) {
    .right-side {
    width: 100%;
    display: block;
      .info {
      width: 100%;
      display: block;
      } //info
    } //right-side
  } //media-768
  @media (max-width: 768px) {
    .right-side {
    margin-top: 30px;
      .info {
      display: block;
      background-color: #202020 - 10;
      margin-bottom: 5px;
      text-align: center;
      border-radius: 3px;
      } //info
    } //right-side
  } //@media768.right-side
    .left-side {
      float: right;
      .logos-top {
        .logo-anu {
        float: right;
          img {
          width: 100%;
          height: auto;
          } //img
        } //logo-anu
        .logo-sikkuy {
          img {
          width: 100%;
          height: auto;
          } //img
        } //logo-sikkuy
        @media screen and (max-width: 768px) {
          .logo-anu {
            img {
            max-width: 300px;
            margin: 0 auto;
            display: block;
            } //img
          } //logo-anu
          .logo-sikkuy {
            margin-top: 15px;
            img {
            max-width: 300px;
            margin: 0 auto;
            display: block;
            } //img
          } //logo-sikkuy
        } // media-768
      } //logos-top
      .logos-bottom {
      margin-top: 15px;
        .logo-abc {
        float: right;
          img {
          width: 100%;
          height: auto;
          } //img
        } //logo-abc
        @media screen and (max-width: 768px) {
          .logo-abc {
            img {
            max-width: 250px;
            margin: 0 auto;
            display: block;
            } //img
          } //logo-abc
        } // media-768
      } //logos-bottom
    } //left-side
  } //conainer
} //footer
