body {
background-color: #f3f3f3;
overflow-x: hidden;
}//body

a:hover, a:focus, button:focus {
text-decoration: none;
outline: none;
}

.rtl {
direction: rtl;
}

.say-ok {
background-color: #40d47e;
padding: 10px;
margin-right: 25px;
margin-bottom: 30px;
border-radius: 3px;
color: #fff;
box-shadow: 1px 1px rgba(0,0,0,.1);
direction: rtl;
}

.say-error {
background-color: #c0392b;
padding: 10px;
margin-right: 25px;
margin-bottom: 30px;
border-radius: 3px;
color: #fff;
box-shadow: 1px 1px rgba(0,0,0,.1);
direction: rtl;
}

@media screen and (max-width: 768px) {
   .say-ok, .say-error {
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   }
}

*[dir="rtl"] { direction: rtl; unicode-bidi: embed; text-align: rtl;}

.loader{
left: calc(50% - 45px);
position: fixed;
top: 500px;
z-index: 999999;
display: none;
   .fa1 {
   font-size: 50px;
   }
   .fa2 {
   font-size: 40px;
   margin-left: -5px;
   }
}

.loader.active{
 display: block;
}


.show-more-snippet {
    height:90px;  /*this is set to the height of the how much text you want to show based on the font size, line height, etc*/
    width:100%;
    overflow:hidden;
}


// type file styles

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
